* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

/* =====================================
   COMMON
===================================== */

.android-view,
.iphone-view,
.desktop-view {
  display: none;
  width: 100%;
  height: 100dvh;

  justify-content: center;
  align-items: center;

  padding: 20px;
}

.android-button,
.iphone-button{
  -webkit-tap-highlight-color: transparent;
}

/* =====================================
   ANDROID
===================================== */

.android-view {
  background: #202124;
}

.android-content {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  transform: translateY(140px);
}

.pdf-icon {
  width: 72px;
  height: 72px;

  background: transparent;

  color: rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 600;

  margin-bottom: 18px;
}

.pdf-name {
  color: #c5c8ce;
  font-size: 18px;

  margin-bottom: 30px;

  word-break: break-word;
}

.android-button {
  width: 100%;
  max-width: 430px;

  height: 84px;

  border: none;

  background: #8ab4f8;
  color: #202124;

  font-size: 21px;
  font-weight: 500;

  border-radius: 42px;

  cursor: pointer;
}

/* =====================================
   IPHONE
===================================== */

.iphone-view {
  background: #676c70;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.iphone-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.iphone-button {
  width: 328px;
  height: 60px;

  border: none;

  background: #3774c6;
  color: white;

  border-radius: 10px;

  font-family: "Times New Roman", Times, serif;

  font-size: 22px;
  font-weight: 400;

  cursor: pointer;
}

/* =====================================
   DESKTOP
===================================== */

.desktop-view {
  background: white;
}

.desktop-loader {
  font-size: 22px;
  color: #444;
}

/* =====================================
   MOBILE
===================================== */

@media (max-width: 480px) {
  .pdf-icon {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }

  .pdf-name {
    font-size: 18px;
  }

  .android-button {
    height: 84px;
    font-size: 21px;
  }

  .iphone-button {
    width: 328px;
    height: 60px;
    font-size: 22px;
  }
}
